<div>
    <form ng-submit="homeCtrl.signin(signin.email, signin.password)">
        <h1>Sign In</h1>
        <div>
            <label>Email</label>
            <input type="email" required ng-model="signin.email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" required ng-model="signin.password">
        </div>
        <button type="submit">Sign In</button>
    </form>
</div>
<hr>
<div>
    <form ng-submit="homeCtrl.register(register.email, register.password)">
        <h1>Register</h1>
        <div>
            <label>Email</label>
            <input type="email" required ng-model="register.email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" required ng-model="register.password">
        </div>
        <button type="submit">Register</button>
    </form>
</div>
<hr>
<button ng-click="homeCtrl.check()">Check</button>